# Databases

Querying databases requires two lines of code - for logging into the database (credentials are taken from `da_toolkit_config.env` - make sure you have it setup) and querying.

## Redshift

In [1]:
from da_toolkit.databases import Redshift

Logging into Redshift.

In [2]:
rd = Redshift() # that's it. one liner

Querying sample data

In [3]:
with open('queries/rds_query.sql') as q:
    query = q.read()
rd.query(query)

         date   count
0  2021-02-01  315592
1  2021-02-03  354075
2  2021-02-02  334953

## BigQuery

In [4]:
from da_toolkit.databases import BigQuery

Logging into BigQuery.

In [5]:
bq = BigQuery()

Querying the data

In [6]:
with open('queries/bq_query.sql') as q:
    query = q.read()
bq.query(query)

         fullVisitorId  prod_clicks  add_to_cart_clicks
0  1487912482264934623          NaN                 1.0
1  5469531048904249180          1.0                 NaN
2  8515038088931330701          1.0                 NaN
3  8399872463288606304          1.0                 NaN
4  3009760562014569567          1.0                 1.0
5  8316417051383907646          1.0                 NaN
6  5205724383446533898          1.0                 NaN
7  4711284400595837937          NaN                 1.0
8  5547552707802514978          1.0                 NaN
9  5337554879565912647          1.0                 1.0