# Databases

Querying databases requires two lines of code - for logging into the database (credentials
are taken from `config.py` - make sure you have it setup) and querying.

## Redshift

In [13]:
from da_toolkit.databases import Redshift

Logging into Redshift.

In [14]:
rd = Redshift() # that's it. one liner

Querying sample data

In [15]:
query = '''
SELECT COUNT(DISTINCT question_id)
FROM public.bi_questions
WHERE date_created::DATE = '2021-02-01'
'''
rd.query(query)

    count
0  316963

## BigQuery

In [16]:
from da_toolkit.databases import BigQuery

Logging into BigQuery.

*In this example I'm setting the project as `brainly-tutoring` but in
most cases you can live that space empty (`bq = BigQuery()`)  - the default project is set
to `brainly-bi`.*

In [17]:
bq = BigQuery(project='brainly-tutoring')

Querying the data

In [18]:
query = '''
SELECT *
FROM `brainly-bi.da_recruitment.trial_conversions`
LIMIT 1
'''
bq.query(query)

,user_id,user_pseudo_id,conversion_date,min_date,days_to_convert
0,us23257589,94f3a9ec84240b0a9b5061656abe78dc,2020-08-16,2020-08-16,0